<!DOCTYPE html>
<html lang="en">

<%- include('../partials/head'); %>

<%- include('../partials/header'); %>




<body>

<main>

  <div class="container">

    <div class="">
      <div class="form-group mb-3" id="mapSection">
        <h3>Standardrutternas läge och bokningsstatus </h3>

        <p>Bokningen av standardrutterna 2024 har dragit igång. De inventerare som inventerade förra året har blivit tillfrågade om de vill inventera igen. De har förtur till de rutter de gjorde 2023, men det går även utmärkt för andra att anmäla sitt intresse.</p>
        <p>En beskrivning av delprogrammet finns <a href="https://www.fageltaxering.lu.se/inventera#standard">här</a>. Gröna cirklar på kartan är rutter som bokats och vita cirklar är obokade rutter. Sök efter obokade rutter och anmäl sedan ditt intresse via BioCollect (om du använder det systemet) eller skriv ett mail till oss på <a href="mailto:fageltaxering@biol.lu.se">fageltaxering@biol.lu.se</a>.</p>

        <div id="map"></div>
      </div>

    </div>
    <div id="listSitesHidden" style="display:none"><%= listSites %></div>

  </div> <!-- end container -->
</main>

</body>


<%- include('../partials/footer'); %>

</html>
